.theme {
  top: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: rgb(138, 220, 147);
  color: black;
  height: 100px;
  line-height: 100px;
  margin-top: 0;
}

.mainBar {
    margin-top: 8%;
    text-align: center  ;
}

.HomeAndAbout {
    display: inline-flex;
    gap: 20px;   
    padding: 10px 20px; 
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 60px;
}

.firstPic {
    width: 400px; 
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

.picOfAll {
  display: flex;
  gap: 10px; 
}

.firstPic:hover {
  transform: scale(1.1);    
  box-shadow: 0 8px 16px rgba(0,0,0,0.3); 
}

/* JoinSession.css */
.joinSession {
  max-width: 40%;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #66ae75;
}

.joinSession h1 {
  text-align: left;
  color: #222;
}

.joinSession input {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.joinSession button {
  padding: 8px 16px;
  margin: 10px 5px 0 0;
  border-radius: 10px;
  border: none;
  background-color: #8cb3dd;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.joinSession button:hover {
  background-color: #021f3d;
}

.createSessionBtn{
  padding: 10px 20px;
  font-size: 20px;
  background-color: #007bff;
  color: #fff;
  border: #000000;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.ExistedSession {
  border: 2px solid black;
  margin: 10px;
  margin-left: 500px;
  margin-right: 500px;
  border-radius: 20px;
  font-size: 18px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  background: #f9f9f9;
}

.session-detail {
  margin-top: 15px;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  border-bottom: 1px solid #ddd;
}

.label {
  font-weight: bold;
  color: #333;
}

.value {
  color: #555;
  min-width: 150px; 
  text-align: right;
}